$cardRadius: 0.2rem;

.page-center {
  background: url(../../images/round.svg) no-repeat -1rem -1rem / 6rem auto;
  position: relative;

  .radio {
    height: 0.44rem;
    width: 0.84rem;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    border: 0.08rem solid #fff;
    border-radius: 0.22rem;
    box-sizing: border-box;
    transition: opacity .2s;

    &:after {
      height: 0.2rem;
      width: 0.2rem;
      border-radius: 100%;
      content: "";
      display: block;
      position: absolute;
      left: 0.04rem;
      top: 0.03rem;
      background-color: #4CD960;
      transition: all .2s;
    }

    &.checked {
      opacity: .5;

      &:after {
        background-color: #fff;
        left: 0.42rem;
      }
    }
  }

  h1.title {
    font-size: 0.38rem;
    color: #fff;
    padding: 0.4rem 0.3rem;
    font-weight: bold;
  }

  .mainstay {
    padding: 0 0.3rem;

    .card {
      overflow: hidden;
      height: 4.8rem;
      position: relative;
      border-top-left-radius: $cardRadius;
      border-top-right-radius: $cardRadius;

      .blur {
        width: 6rem;
        position: absolute;
        left: -1.3rem;
        top: -2.3rem;
        display: block;
        filter: blur(0.2rem);
        opacity: .4;
      }

      .back, .info {
        background-color: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      .info {
        background-color: transparent;
        box-sizing: border-box;
        padding: 1rem 0 0;
        text-align: center;

        .app-avatar {
          width: 1.6rem;
          height: 1.6rem;
          margin: 0 auto;
          background-image: -webkit-linear-gradient(135deg, #FB74A3, #fbbabd);
          color: #fff;
          line-height: 1.6rem;
          font-size: 0.8rem;
        }

        h1 {
          color: #474d5f;
          margin-top: 0.6rem;
          font-size: 0.32rem;
        }

        h2 {
          color: #8393c5;
          font-size: 0.28rem;
          margin-top: 0.2rem;
        }
      }
    }

    .status {
      min-height: 2.4rem;
      background-color: #fff;
      border-bottom-left-radius: $cardRadius;
      border-bottom-right-radius: $cardRadius;
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;

      h1 {
        font-size: 0.24rem;
        color: #848a96;
        margin-bottom: 0.2rem;
      }

      .line {
        height: 1.1rem;
        width: 2.4rem;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 2.4rem;
        left: 0.4rem;
        right: 0.4rem;
        height: 0.3rem;
        background-color: rgba(75, 81, 84, 0.04);
        border-bottom-left-radius: 0.12rem;
        border-bottom-right-radius: 0.12rem;
      }
    }

    .percent {
      color: #444c5d;
      opacity: .9;
      font-size: 0.3rem;

      b {
        font-size: 0.36rem;
        font-weight: 700;
      }
    }

    .bar {
      width: 2.4rem;
      height: 0.08rem;
      margin-top: 0.3rem;
      background-color: #e2e9ec;
      border-radius: 0.04rem;
      overflow: hidden;

      i {
        display: block;
        width: 0;
        height: 100%;
        background-color: #ff9975;
      }
    }
  }

  .trend {
    padding: 0.6rem 0.3rem 0.3rem;

    h1 {
      font-size: 0.32rem;
      color: #4b5164;
    }

    .cnt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.3rem 0;

      .app-avatar {
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        background-image: -webkit-linear-gradient(135deg, #abdeff, #a1a9ff);
        text-align: center;
        color: #fff;
        font-size: 0.42rem;
      }

      .info {
        flex-grow: 1;
        padding: 0 0.3rem;

        h1 {
          font-size: 0.32rem;
        }

        h2 {
          font-size: 0.24rem;
          margin-top: 0.2rem;
          opacity: .6;
        }
      }
      
      .chart {
        width: 1.1rem;
        height: 0.6rem;
      }
    }
  }
}

.app-theme-dark {
  .page-center {
    .mainstay {
      .card {
        .blur {
          visibility: visible;
        }
        .back, .info {
          background-color: #364169;
        }
        .info {
          background-color: transparent;

          h1 {
            color: #fff;
            opacity: .8;
          }
        }
      }

      .status {
        background-color: #2D375D;

        h1 {
          color: #fff;
          opacity: .8;
        }

        &:after {
          background-color: #283150;
        }
      }

      .percent {
        color: #fff;
      }

      .bar {
        background-color: #243151;
      }
    }

    .trend {
      h1 {
        color: #fff;
      }

      .cnt {
        .info {
          color: #fff;

          h2 {
            color: #bbc3d2;
          }
        }
      }
    }
  }
}