footer {
  width: 100%;
  height: 0.94rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.94rem;
  font-size: 0.2rem;
  box-shadow: 0 -0.02rem 0.4rem rgba(0, 0, 0, 0.12);
  color: #888;

  i.iconfont {
    font-size: 0.42rem;
  }

  .active {
    color: #1ea1ff;
  }
  
  div {
    padding-top: 0.04rem;
  }
}