.app-local-loader {
  display: flex;
  align-items: center;
  min-height: 1rem;

  &.fixed {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
  }

  .app-local-loading {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: relative;
    background-color: #1ea1ff;
    margin: 0 auto;

    &:before {
      content:'';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 0.1rem solid #fff;
      position: absolute;
      top: -0.1rem;
      left: -0.1rem;
      box-sizing: content-box;
      animation: app-local-loading 1s infinite ease-in-out;
    }
  }
}

@keyframes app-local-loading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}