{
  "globals": {
    "echarts": true,
    "throttle": true,
    "debounce": true,
    "VueAwesomeSwiper": true,
    "CircleProgress": true,
    "Counter": true,
    "Indicator": true,
    "toast": true,
    "Sector": true
  }
}
