*,
::after,
::before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent
}

html {
  box-sizing: border-box;
  background-color: #f5f6fe;
  color: #666;
  font-family: 'Helvetica Neue', Tahoma, Arial, PingFangSC-Regular, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  line-height: 1.2;
  user-select: none;
  touch-action: manipulation;
  text-size-adjust: none
}

html, body, .app-wrap {
  width: 100%;
  overflow-x: hidden;
}

body,
button,
dd,
dl,
ol,
ul {
  margin: 0;
  padding: 0
}

ol,
ul {
  list-style: none
}

a {
  outline: 0;
  color: inherit;
  text-decoration: none
}

a,
img {
  -webkit-touch-callout: none
}

button,
input,
select,
textarea {
  outline: 0;
  border: none;
  font-size: inherit;
  font-family: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400
}

img {
  max-width: 100%
}

textarea {
  resize: none
}

select {
  background-color: transparent;
  appearance: none
}

input[type=button],
input[type=reset],
input[type=submit] {
  appearance: button
}

input:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset
}
