.app-lazy-image {
  overflow: hidden;
  position: relative;
  background-color: #ddd;

  .origin {
    width: 100%;
    display: block;
    opacity: 0;
  }

  .thumb, &:after, .progress {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .3s;
  }

  img.thumb {
    opacity: 1;
    left: 200%;
  }

  &:after {
    content: "";
    background-color: rgba(0, 0, 0, .4);
  }

  .progress {
    height: .8rem;
    width: .8rem;
    left: 50%;
    top: 50%;
    margin: -0.4rem 0 0 -0.4rem;
    z-index: 9;
  }

  &.loaded {
    canvas.thumb, &:after, .progress {
      opacity: 0;
    }

    .origin {
      opacity: 1;
    }
  }
}